<div id="sponsors">
  <h1
    class="text-white section2title pt-2 fs-40 fw-600 m-3 ff-mont text-center"
    data-aos="fade-up"
  >
    OUR <span class="text-base-color">SPONSORS</span>
  </h1>
  <div class="container-fluid">
    <div class="row d-flex justify-content-center">
      <div
        class="col-md-2 m-3 text-center"
        data-aos="fade-up"
        data-aos-duration="500"
      >
        <div class="sponsorsousimg">
          <img src="assets/MAMSLogo.png" height="100" width="180" />
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="sponsors-button" data-aos="fade-up" data-aos-duration="1000">
        <div class="col-md-12 text-center">
          <div class="row">
            <div class="col-md-6 text-right">
              <div class="whysponsorsousbtn">
                <button id="myBtn" class="sponsorsous">SPONSORS</button>
              </div>
            </div>
            <div class="col-md-6 text-left">
              <div class="sponsorsouslinkbtn">
                <a
                  href="mailto:tedxmitsg@gmail.com?Subject=Sponsorship%20Request"
                  class="sponsorsouslink"
                  >SPONSOR US</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="myModal" class="modal">
  <div class="modal-content">
    <div class="row">
      <h1 class="text-white fs-27 fw-600 w-100 text-center m-2">
        Why Sponsor Us
      </h1>
      <span class="close">&times;</span>
    </div>
    <div class="sponsorscontent">
      <div class="row">
        <ul class="sponsorscontentlist">
          <li>
            A company will have the opportunity to associate with TEDx MAMS.
          </li>
          <li>
            Placement of the company logo and advertisements on monitors before
            and after the show, as well as during breaks.
          </li>
          <li>
            Opportunity to place promotion material in the attendee gift bags.
          </li>
          <li>
            Opportunity to place promotion material in the Speaker Packets.
          </li>
          <li>
            Large logo placed on our website with long description of the
            company and link to your company’s website.
          </li>
          <li>
            Thanks to the explicitly named sponsor on stage by the masters-of-
            ceremonies at the end of the event.
          </li>
          <li>Mention in media/press release</li>
          <li>
            Opportunity to set up exhibit space outside the main venue space.
          </li>
          <li>
            Logo appears on post-roll credits (for a maximum of 3 seconds) at
            the end of each TEDx video watched by millions of viewers from all
            over the world.
          </li>
          <li>
            Logo appears on pre-roll credits (for a maximum of 3 seconds) at the
            start of each TEDx video, also viewed by an enormous number,
            globally.
          </li>
          <li>
            Option to set up a booth for an innovative product demonstration
            and/or sampling (no selling) of your company’s product.
          </li>
        </ul>
      </div>
      <p class="fs-16 text-white">
        -- Any special request for specific publicity will be considered and
        fulfilled as long as it is not in conflict with the motive of the event
        and principles of MITS Gwalior--
      </p>
    </div>
  </div>
</div>

<div id="contactus">
  <div class="container-fluid">
    <div class="row d-flex justify-content-center">
      <div class="col-md-3">
        <div class="sponsorsouslinkbtn" style="padding-bottom: 50px">
          <a href="#" class="sponsorsouslink">Register Here</a>
        </div>
      </div>
      <div class="col-md-3">
        <div id="contactus" class="contactcontent text-left">
          <h1 class="fs-19 text-base-color p-2 fw-400">Contact Us</h1>
          <div class="contactcontenttext text-left">
            <p class="fs-18 text-white fw-400 contactnumber">+91 2244556637</p>
            <p class="fs-18 text-white fw-400 contactmail">
              tedxmams@gmail.com
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="socialmedia text-left">
          <h1 class="fs-19 text-white p-2 fw-400">Connect With Us</h1>
          <div class="socialmediaico" id="fot">
            <a href="https://www.facebook.com/TEDxMITSG" target="_blank"
              ><img src="assets/facebook.png"
            /></a>
            <a href="https://instagram.com/tedxmitsg" target="_blank"
              ><img src="assets/instagram.png"
            /></a>
            <a href="https://twitter.com/TMitsg" target="_blank"
              ><img src="assets/twitter.png"
            /></a>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="sponsorsouslinkbtn" style="padding-bottom: 50px">
          <a href="#" class="sponsorsouslink">Become A Partner</a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="footerlogo">
          <img src="assets/logo.png" />
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="text-center footer">
  <p class="text-white fw-100 fs-13 m-0">
    &#169; 2020 Maa Anandmayee Memorial School, Raiwala
  </p>
</footer>
