<header class="top-navbar">
  <nav class="navbar navbar-expand-lg navbar-light bg-light" id="head">
    <div class="container">
      <a class="navbar-brand" href="index.aspx">
        <img
          src="assets/MAMSLogo.png"
          alt="logo"
          height="80"
          width="250"
          data-1x="400x200.png"
          data-2x="800x400.png"
          style="padding: 0; margin: 0"
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbars-rs-food"
        aria-controls="navbars-rs-food"
        aria-expanded="false"
        aria-label="Toggle navigation"
        style="background-color: white"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbars-rs-food">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="dropdown-a"
              data-toggle="dropdown"
              >About</a
            >
            <div
              class="dropdown-menu"
              aria-labelledby="dropdown-a"
              style="background-color: black"
            >
              <a class="dropdown-item" href="/about">About MAMS</a>
              <a class="dropdown-item" href="/about">About TEDx</a>
              <a class="dropdown-item" href="/">Collaborations</a>
              <a class="dropdown-item" href="/"
                >Innovation & Learning at MAMS</a
              >
            </div>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="dropdown-a"
              data-toggle="dropdown"
              >Speakers</a
            >
            <div
              class="dropdown-menu"
              aria-labelledby="dropdown-a"
              style="background-color: black"
            >
              <a class="dropdown-item" href="#">Masters of Ceremoni</a>
              <a class="dropdown-item" href="#">Celebrities</a>
              <a class="dropdown-item" href="#">Volunteers</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/team">Our Team</a>
          </li>
          <li class="nav-item"><a class="nav-link" href="/">Blog</a></li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="dropdown-a"
              data-toggle="dropdown"
              >Contact Us</a
            >
            <div
              class="dropdown-menu"
              aria-labelledby="dropdown-a"
              style="background-color: black"
            >
              <a class="dropdown-item" href="/about">Contact Us</a>
              <a class="dropdown-item" href="/">Become a Partner</a>
            </div>
          </li>
        </ul>
        <div class="header-right-btn f-right d-none d-lg-block ml-20">
          <a href="/register" class="btn header-btn">Register</a>
        </div>
      </div>
    </div>
  </nav>
</header>
