
<!DOCTYPE html>

<html class="no-js" lang="zxx">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/favicon.ico"/>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Keywords and Tags -->
    <meta name="description" content="TEDxMITSG, x = independently organised TED event. Moving The Margins. 25 January, at MITS,Gwalior."/>
    <meta name="keywords" content="TEDx, MITSG, MITS Gwalior, Gwalior,Madhav Institute of Technology and Science , event, talks"/>
    <meta name="robots" content="noindex" />
    <!-- Social media tags -->
    <!-- Open Graph -->
    <meta property="og:title" content="TEDxMAMS"/>
    <meta property="og:description" content="Moving The Margins ,25 January, at MITS,Gwalior."/>
    <meta property="og:image" content="https://tedxmitsg.com/assets/light-social.png"/>
    <meta property="og:url" content="https://tedxmitsg.com"/>
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@TMitsg"/>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-152687064-2"></script>
    <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-152687064-2');
    </script>
   

    <title>TEDxMAMS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    <link href="css/animate.min.css" rel="stylesheet" />
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/flaticon.css" rel="stylesheet" />
    <link href="css/fontawesome-all.min.css" rel="stylesheet" />
    <link href="css/loader.css" rel="stylesheet" />
    <link href="css/magnific-popup.css" rel="stylesheet" />
    <link href="css/main.css" rel="stylesheet" />
    <link href="css/nice-select.css" rel="stylesheet" />
    <link href="css/nave.css" rel="stylesheet" />
    <link href="css/owl.carousel.min.css" rel="stylesheet" />
    <link href="css/price_rangs.css" rel="stylesheet" />
    <link href="css/responsive.css" rel="stylesheet" />
    <link href="css/slick.css" rel="stylesheet" />
    <link href="css/SlickNave.css" rel="stylesheet" />
    <link href="css/MainStyle.css" rel="stylesheet" />
    <link href="css/Style1.css" rel="stylesheet" />
    <link href="css/Stylecard.css" rel="stylesheet" />
    <link href="css/themify-icons.css" rel="stylesheet" />
    <link href="css/Style3.css" rel="stylesheet" />
    <link href="css/about.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/register.css">
    <a href="css/style.map">css/style.map</a>

     <link
      href="https://pa.tedcdn.com/javascripts/screens/c8f34d674de025fd3e00.chunk.js"
      rel="prefetch"
    />
    <link
      href="https://pa.tedcdn.com/javascripts/screens/e6da3600f61d5ddbeea2.chunk.js"
      rel="prefetch"
    />
    <link
      href="https://pa.tedcdn.com/javascripts/screens/global-2838a3bb85c6d6113065.chunk.css"
      rel="stylesheet"
    />
    <link
      href="https://pa.tedcdn.com/javascripts/screens/shed-4c66e36fff66345a8ec4.chunk.css"
      rel="stylesheet"
    />
    <link
      href="https://pa.tedcdn.com/javascripts/screens/tedx-b42abef50489ca6f73c8.chunk.css"
      rel="stylesheet"
    />
    
    
    <style>
      
    </style>
</head>
<body>
    <div class="se-pre-con">
        <div class="drawing" id="loading">
            <div class="loading-dot"></div>
        </div>
    </div>
    <script>
    AOS.init();
    </script>
        <%- include('_header') %>

	<!-- End header -->
  <br/><br/><br/><br/> 

  <div class="shoji" id="shoji">
      <div class="shoji__fixtures" id="shoji-fixtures"></div>
      <div class="shoji__door">
        <div class="page shoji__washi">
          <div class="events-main main" role="main">
            <div
              class="area area--dark m2 pad1 tedx-event-banner"
              itemscope
              itemtype="https://schema.org/Event"
            >
              <div class="container inverse">
                <div class="row">
                  <div class="col col-lg-9">
                    <div class="m1" itemprop="name">
                      <div class="tedx">
                        <span class="tedx__logo">TEDx</span
                        ><span class="tedx__name">Youth@MAMSRaiwala</span>
                        <div class="tedx__info">
                          <span class="tedx__info__x">x</span>
                          = independently organized TED event
                        </div>
                      </div>
                    </div>
                    <h1 class="h2 m1"></h1>
                    <div class="row">
                      <div class="col col-lg-8"></div>
                    </div>
                    <div class="row">
                      <div class="col col-lg-4">
                        <div
                          class="h10 m5"
                          content="2020-11-14T10:00:00+05:30"
                          itemprop="startDate"
                        >
                          November 14, 2020
                        </div>
                        <div class="h11">10:00am - 1:00pm IST</div>
                        <div class="h11">(UTC +5.5hrs)</div>
                      </div>
                      <div class="col col-lg-4 tedx-event-banner__location">
                        <div
                          class="h10"
                          itemprop="location"
                          itemscope
                          itemtype="https://schema.org/Place"
                        >
                          <span
                            itemprop="address"
                            itemscope
                            itemtype="https://schema.org/PostalAddress"
                          >
                            <meta
                              content="Village Gauri Mafi, Haridwar -Rishikesh Highway (NH 58), Raiwala, District Dehradun, Uttarakhand"
                              itemprop="streetAddress"
                            />
                            <span itemprop="addressLocality">Raiwala</span>,
                            <span itemprop="addressRegion">Uttarakhand</span
                            ><br /><span itemprop="addressCountry">
                              India
                            </span></span
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col col-lg-3">
                    <div class="tedx-event-banner__ticketing">
                      <div class="m3">
                        <strong> This event is invite-only.</strong>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="container tedx-event-details">
              <div class="section section--except-first">
                <div class="row">
                  <div class="col col-lg-9">
                    <div class="m3">
                      <p class="p1">
                        In the spirit of ideas worth spreading, TEDx is a
                        program of local, self-organized events that bring
                        people together to share a TED-like experience. At a
                        TEDx event, TEDTalks video and live speakers combine to
                        spark deep discussion and connection in a small group.
                        These local, self-organized events are branded TEDx,
                        where x = independently organized TED event. The TED
                        Conference provides general guidance for the TEDx
                        program, but individual TEDx events are self-organized
                        (subject to certain rules and regulations).
                      </p>
                    </div>
                  </div>
                  <div class="col col-lg-3">
                    <div class="m3">
                      <img src="https://mams.co.in/wp-content/uploads/2018/11/Mams-School-350x330.png" alt="" srcset="">
                    </div>
                    <div class="m3">
                      Maa Anandmayee Memorial School<br />Village Gauri Mafi,
                      Haridwar -Rishikesh Highway (NH 58), Raiwala, District
                      Dehradun, Uttarakhand<br />Raiwala, Uttarakhand, 249205<br />India
                    </div>
                    <dl class="dl--n m3">
                      <dt>Event type:</dt>
                      <dd>
                        Youth
                        <small>
                          (<a
                            class="l3"
                            href="https://www.ted.com/participate/organize-a-local-tedx-event/before-you-start/event-types"
                            >What is this?</a
                          >)
                        </small>
                      </dd>
                    </dl>
                    <a
                      class="l3"
                      href="/tedx/events?autocomplete_filter=TEDxYouth%40MAMSRaiwala"
                      >See more
                      &shy;T&shy;E&shy;Dx&shy;Youth@&shy;M&shy;A&shy;M&shy;S&shy;Raiwala
                      events
                    </a>
                  </div>
                </div>
              </div>
              <div class="section section--except-first">
                <div class="row">
                  <div class="col col-lg-3">
                    <h3 class="h3 m3">Organizing team</h3>
                  </div>
                  <div class="col col-lg-6">
                    <div class="section section--minor section--except-first">
                      <div class="row row-sm-3up">
                        <div class="col m3">
                          <div class="media media--sm-v">
                            <div
                              class="media__image media__image--thumb bg:gray-l"
                            >
                              <a href="/profiles/15387589/about"
                                ><span class="thumb thumb--square"
                                  ><span class="thumb__sizer"
                                    ><span class="thumb__tugger"
                                      ><img
                                        alt=""
                                        class="thumb__image"
                                        play="false"
                                        src="https://pi.tedcdn.com/r/s3.amazonaws.com/ted.conferences.profiles/00/00/0e/4a/7f/936575.jpeg?" /><span
                                        class="thumb__aligner"
                                      ></span></span></span
                                ></span>
                              </a>
                            </div>
                            <div class="media__message">
                              <h4 class="h7 m5">
                                <a href="/profiles/15387589/about"
                                  >Arpit<br />Panjwani</a
                                >
                              </h4>
                              <div class="text-secondary">
                                <strong> Raiwala, India </strong>
                              </div>
                              <strong> Organizer </strong>
                            </div>
                          </div>
                        </div>
                        <div class="col m3">
                          <div class="media media--sm-v">
                            <div
                              class="media__image media__image--thumb bg:gray-l"
                            >
                              <a href="/profiles/23409883/about"
                                ><span class="thumb thumb--square"
                                  ><span class="thumb__sizer"
                                    ><span class="thumb__tugger"
                                      ><img
                                        alt=""
                                        class="thumb__image"
                                        play="false"
                                        src="https://pi.tedcdn.com/r/s3.amazonaws.com/ted.conferences.profiles/00/00/11/43/ed/1131501.jpeg?" /><span
                                        class="thumb__aligner"
                                      ></span></span></span
                                ></span>
                              </a>
                            </div>
                            <div class="media__message">
                              <h4 class="h7 m5">
                                <a href="/profiles/23409883/about"
                                  >arjun<br />madhavankutty</a
                                >
                              </h4>
                              <div class="text-secondary">
                                <strong> </strong>
                              </div>
                              <strong> Co-organizer </strong>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="section section--minor section--except-first">
                      <ul class="sl row row-sm-2up">
                        <li class="col m4">
                          <h6>Amarnath Biswas</h6>
                          <em> Operations </em>
                        </li>
                        <li class="col m4">
                          <h6>Rutuja Diwan</h6>
                          <em> Marketing/Communications </em>
                        </li>
                        <li class="col m4">
                          <h6>suhasini gaur</h6>
                          <em> Marketing/Communications </em>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br/><br/>
      
    <%- include('_footer') %>


</body>




<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script type="text/javascript">
  $('.navbar-nav>li>a').on('click', function(){
    // $('.navbar-collapse').collapse('hide');
  });

</script>
<script type="text/javascript">
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}</script>
<script language="javascript" type="text/javascript">
  $(window).on('load', function(){ $(".se-pre-con").fadeOut("slow");;});
</script>

<script src="js/particles.min.js"></script>
<script src="js/main.js"></script>
<script src="js/jquery.countdown.min.js"></script>
<script src="js/countdown1.js"></script>


</html>