.register-content {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.form-container {
    max-width: 620px;
    border-radius: 30px;
    padding: 50px;
    margin: 10px;
    -webkit-box-shadow: #777777 0px -1px 12px -1px inset;
    -moz-box-shadow: #777777 0px -1px 12px -1px inset;
    box-shadow:#777777 0px -1px 12px -1px inset;
}
input[type=text] , input[type=email] , input[type=password] {
    border: none;
    border-bottom: 2px solid red;
}
label {
    color: grey;
}
